.blip-bubble {
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 10;
    pointer-events: none; 
}

.blip:hover .blip-bubble {
    visibility: visible;
}


.tech-radar-widget {
  padding-left: 24px;
  padding-right: 64px;
  overflow-x: auto; /* supaya ga meledak kalau tetap overflow */
}

.tech-radar-widget svg {
  width: 100%;
  box-sizing: border-box;
}


.tech-radar-entry .remove-entry {
    margin-left: 10px;
    vertical-align: middle;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela&display=swap');
@media (max-width: 767px) {
  .tech-radar-widget svg {
    display: none !important;
  }
  .tech-radar-list {
    display: block !important;
    font-family: 'Open Sans', sans-serif;
    padding: 16px;
  }
  /* Spasi antar entri */
  .tech-radar-list-view > div > div {
    margin-bottom: 5px; /* atau 12px jika mau lebih lega */
  }

 
.tech-radar-list-view h3 {
  word-break: break-word;
  white-space: normal;
  font-family: 'Varela', sans-serif;
  font-size: 26px;
  margin-top: 10px;

}
  .tech-radar-list-view strong {
    font-family: 'Varela', sans-serif;
    font-size: 20px;
    display: block;
    margin: 12px 0 4px;
  }

.tech-radar-list-view h3::after {
  content: "";
  display: block;
}


}
